html, body {
    padding: 0;
    margin: 0;
}

.hover {
    position: absolute;
    background: rgba(255, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.dest {
    position: absolute;
    background: rgba(0, 0, 255, 0.7);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
